* {
    overflow-y: hidden;
    overflow-x: hidden;
}

main {
    position: relative;
    text-align: center;
}

h1 {
    position: absolute;
    top: 10px;
    color: aliceblue;
    margin: 150px 530px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 1cqh;
    word-spacing: 0cap;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px rgb(17, 17, 72);
    opacity: 0;
    animation: fade-in 2s ease forwards;
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0); 
    }
}

p {
    position: absolute;
    top: 10px;
    color: gold;
    font-family: 'Courier New', monospace;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5;
    margin: 250px 500px;
    text-shadow: 2px 2px 4px #000000;
    opacity: 0; /* Initially hidden */
    animation: fade-in 6s ease forwards;
}

footer {
    position: absolute;
    top: 10px;
    font-family: 'Courier New', monospace;
    color: white;
    margin: 600px 150px;
    opacity: 0; /* Initially hidden */
    animation: fade-in 6s ease forwards;
}
@media only screen and (max-width: 600px) {
    h1 {
        font-size: 2em;
    }
    p {
        font-size: 1.2em;
        
    }
    footer{
        margin: 650px 50px;
    }
}
